.App {
  text-align: center;
}

.textField {
  width: 500px;
}

.urlAndShorten {
  margin-top:40px;
  display: flex;
  justify-content: center;
  gap:20px;
  margin-left:10px;
  margin-right:10px;
}

.deleteButton {
  margin-top:40px!important;
}